# Build and IDE files
**/.bloop/
**/.metals/
**/.vscode/
**/metals.sbt
**/.sbt/
**/.bsp/
**/.idea/
**/target/
**/.lh/

# Environment and config files
*.env
local.conf
logback-dev.xml
version.sbt

# Logs and temporary files
*.log
.history

# IDE specific files
*.iml
.DS_Store

# Data files
*.txt
*.xlsx
*.db.json

# Local development
.local/
.ivy2/

# Project specific
version.md
*.http
